.card-group {
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;

}

body {
    background: linear-gradient( red , black);
    color: red;
}

a:link,
a:visited,
a:hover,
a:active {
    color: green;
    text-decoration: none;

}

.kep {
    max-width: 50vh;
    min-width: 50vh;
    max-height: 50vh;
    min-height: 50vh;
    object-fit: cover;
}