.card-group {
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;

}

body {
    background-color: black;
}

header {}

a:link,
a:visited,
a:hover,
a:active {
    color: green;
    text-decoration: none;

}

.kep {
    max-width: 14vh;
    min-width: 14vh;
    max-height: 14vh;
    min-height: 14vh;
    object-fit: scale-down;
}